<div class="top-nav">
    <a href="/app"><h1 class="main-title">family trEATs -Full</h1></a>
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout" class="logout"/>
    </form>
    <a class="add" href="/recipes/new">Add a recipe</a>
</div>
