<div class="top-nav">
    <div class="nav-links">
    <a class="add" href="/recipes/new">Add a recipe</a>
    <a class="add" href="/app">Catagory Index</a>
    </div>
    <!-- <a href="/app"> -->
        <h1 class="main-title">family trEATs</h1>
    <!-- </a> -->
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout" class="logout"/>
    </form>

</div>
