<div class="top-nav">
    <div class="nav-links">
    <a class="add" href="/recipes/new">add a recipe</a>
    <a class="idx" href="/app">catagory Index</a>
    </div>
    <!-- <a href="/app"> -->
        <h1 class="main-title-full">family trEATs</h1>
    <!-- </a> -->
    <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="logout" class="logout"/>
    </form>

</div>
