<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div>
            <nav>
            <% include ./partials/navMin.ejs %>
            </nav>
        </div>
        <div class="bg">
            <div class="container">
                <h3>
                    <% if (currentUser) { %>
                    Hello <%=currentUser.username%>!
                </h3>
                <h4>
                    <a class="waves-effect waves-light btn" href="/app">Enter the Kitchen</a>
                </h4>
                    <% } else { %>
                        <div class="btn-holder">
                            <a class="waves-effect waves-light btn" href="/users/new">Sign Up</a>
                            <a class="waves-effect waves-light btn" href="/sessions/new">Log In</a>
                        </div>
                    <% } %>
            </div>
        </div>
        <footer class="footer">
            <% include ./partials/footer.ejs %>
        </footer>
    </body>
</html>
