<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div>
            <nav>
            <% include ./partials/navMin.ejs %>
            </nav>
        </div>
        <div class="bg"></div>
            <div class="">
                <h3 class="greeting">
                    <% if (currentUser) { %>
                    hello, <%=currentUser.username%>!
                </h3>
                <h4>
                    <a class="waves-effect waves-light btn greeting" href="/app">enter the kitchen</a>
                </h4>
                    <% } else { %>
                        <h4>to gain entry to the kitchen you must</h4>
                        <div class="btn-holder">
                            <a class="waves-effect waves-light btn" href="/users/new">sign up</a>
                            <h6>or</h6>
                            <a class="waves-effect waves-light btn" href="/sessions/new">log in</a>
                        </div>
                    <% } %>
            </div>

        <footer class="footer">
            <% include ./partials/footer.ejs %>
        </footer>
    </body>
</html>
