/* Import  fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito');
/* font-family   : 'Nunito'; */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Artifika|Handlee|Just+Another+Hand|Patrick+Hand|Sacramento|Shadows+Into+Light|Sofia');
/* font-family: 'Artifika', serif;
font-family: 'Handlee', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Sofia', cursive; */

body {
    /* background-image: url("https://i.imgur.com/zM3HMUV.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(white, black); */
    background: radial-gradient(circle, pink, white);
    font-family: 'Nunito';
    text-align: center;
    height: 100%;
    /* background-color: azure; */
}
h4 {
    font-family: 'Nunito', cursive;
}
.h4-fancy {
    font-family: 'Sofia', cursive;
}
.cat-title {
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 0.912rem;
    margin-left: 0px;
}
.recipe-name {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
}
h7 {
    font-family: 'Patrick Hand', cursive;
}
.recipe {
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    /* overflow-wrap: normal;
    word-break: break-all; */
    /* max-width: 400px; */
    max-width: 28em;
    display: block;
    overflow: visible;
}
.medium-pic {
    margin-left: auto;
    border-radius: 12px;
}
.bg {
    /* margin: 7em auto 5em 3em; */
    margin: auto;
    margin-top: 7em;
    width: 300px;
    /* background-color: pink; */
    padding: 1em 0 3em 0;
}
.top-margin {
    margin-top: 4em;
}
.container {
    margin-top: 7em;
    /* display: flex;
    flex-direction: row; */
}
.show-container {
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
}
.cat-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 600px;
    margin: 2em 0 2em 0;
}
.desc {
    /* background-color: red; */
    padding: 1em 2em;
    width: 500px;
}
.pic {
    /* background-color: green; */
    padding-top: 2em;
    height: 224px;
    width: 298px;
    border-radius: 12px;
}
.dir-container {
    margin: 0 2em 2em 2em;
    /* background-color: orange; */
    /* width: 400px; */
    max-width: 28em;
    padding: 0 2em 2em 2em;
}
.error {
    background-color: red;
    color: white;
    margin: 0.5em 0 0 0;
    border-radius: 0.6em;
    border:0.15em solid rgba(255,255,255,0);
    border-color: teal;
}
.small-pic {
    height: 224px;
    width: 298px;
    border-radius: 12px;
}
.nav-links {
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Handlee', cursive;
    position: absolute;
    left: 1.5em;
}
.add, .idx {
    padding: 0;
    max-height: 30px;
    position: relative;
}
.logout {
    background-color: #ee6e73;
    font-family: 'Handlee', cursive;
    /* background-color: purple; */
    position: absolute;
    right: 1em;
    top: 2.8em;
    border: none;
    color: white;
    cursor: pointer;
}
h1 {
    font-family: 'Artifika', serif;
}
.main-title {
    font-size: 4em;
    margin: 0.4em 0 0.4em 32%;
    color: white;
    display: flex;
    flex-basis: auto;
    align-self: center;
    justify-content: center;
    text-align: center;
    /* background-color: skyblue; */
}
.title {
    position:absolute;
    text-align:center;
    background-color:black;
}
.main-title-full {
    font-size: 4em;
    /* margin: 0.4em 0 0.4em 20%; */
    color: white;
    /* display: flex;
    flex-basis: auto;
    align-self: center; */
    justify-content: center;
    text-align: center;
    /* background-color: skyblue; */
    margin: auto;
    line-height: 1.65em;
    vertical-align: middle;
}
.top-nav {
    background-color: #ee6e73;
    display: flex;
    max-height: 100px;
    justify-content: center;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.btn-wrapper {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    margin-bottom: 2em;
}
.btn-holder {
    /* background-color: royalblue; */
    font-family:'Roboto',sans-serif;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 380px;
    margin: auto;
    margin-bottom: 5em;
    padding: 1.5em;
}
.show-btn {
    margin: 0 1em;
}
.footer {
    position: relative;
    display: inline-flex;
    bottom: 0;
    width: 180px;
    background-color: white;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    border-color: pink;
    box-sizing: border-box;
    padding-left: 0.8em;
}
.greeting {
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 5rem;
    margin-left: 0px;
}
.show {
    height: 360px;
    width: 360px;
    border-radius: 12px;
}
.thumbnail {
    margin: 0.2em;
    border-radius: 12px;
    margin: 0 0.5em;
}
.thumbnail img {
   margin: auto;
   max-height: 240px;
   max-width: 240px;
}
.thumb-wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#directions {
    font-family: 'Shadows Into Light', cursive;
    font-size: 16px;
}
.select-edit {
    color: black;
}
.select-new {
    color: grey;
}
.select {
	display: block;
	font-size: 14px;
	font-family: sans-serif;
    font-weight: 300;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid teal;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, white 0%, pink 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select::-ms-expand {
	display: none;
}
.select:hover {
	border-color: #888;
}
.select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select option {
	font-weight:normal;
}
.btn-font {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
}
.btn-font:hover {
    border-color: rgba(255,255,255,1);
}
@media all and (max-width:30em) {
    .btn-font {
         display:block;
         margin:0.2em auto;
    }
}

/* form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: azure;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  @include translate( -50% , 0 );
} */
/*
.red {
    color: red;
    padding: 0.2em;
}
.blue {
    color: blue;
}

.show-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    border-radius: 12px;
    margin: auto;
    padding: 2em 0;
}
.new-form, .edit-form {
    display: flex;
    justify-content: center;
    width: 320px;
    border-radius: 12px;
    margin: auto;
    padding: 2em 0;
}
.show-form {
    background-color: azure;
    padding: 1em 0 0 0;
}
.new-form {
    background-color: #dbf0f9;
}
.edit-form {
    background-color: #e3e6ed;
}
.btn-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 260px;
    margin: auto;
    padding: 2em 0 0.5em 0;
}
.items {
    margin: 2em 0.5em 0 0.5em;
    background-color: #ede3d3;
    display: flex;
    flex-direction: column;
    width: 140px;
    border-radius: 12px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.big-pic {
    padding: 1em 0 1em 0;
}
label {
    text-align: left;
    display: block;
    vertical-align: middle;
}
.list-container {
    width: 250px;
    display: inline-block;
    padding: 10px;
    background-color: azure;
    border-radius: 12px;
}
.delete-btn, .edit-btn, .back-btn, .buy-btn, .btn {
    padding: 0.3em 0.4em 0.3em 0.4em;
    background: azure;
    border-radius: 8px;
    width: 90px;
}
.btn {
    width: 180px;
    color: blue;
}
.buy-btn {
    color: white;
    background-color: blue;
    position: relative;
    left:35%;
    padding: 1em 0;
}
.delete-btn {
    color: white;
    background-color: red;
}
.edit-btn {
    color: green;
}
.back-btn {
    color: black;
}
#add-btn {
    font-size: 16px;
} */
