<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div>
        <nav>
            <% include ../partials/navFull.ejs %>
        </nav>
    </div>
    <div class="bg">
        <h3>Recipes</h3>
        <h2>
            <a class="waves-effect waves-light btn" href="/recipes/new">Add a recipe</a>
        </h2>
        <% if ( typeof recipes != 'undefined' ) { %>
            <% for ( let i = 0; i < recipes.length; i++ ) { %>
                <%=recipes[i].name%> - From the kitchen of <%=recipes[i].username%>
                <!-- <a class="waves-effect waves-light btn" href="/recipes/' + req.params.id -->
                <br/>
            <% } %>
        <% } %>
    </div>
    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>
