<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div>
        <nav>
            <% include ../partials/navFull.ejs %>
        </nav>
    </div>
    <div class="bg">
        <h4 class="h4-fancy cat-title">recipe categories</h4>
        <div class="cat-container">
            <div class="pic">
                <img class="small-pic" src="https://i.imgur.com/lkyw7U2.jpg" alt="dinner">
            </div>
            <div class="desc">
                <a class="" href="/recipes/search/dinner">
                <h5>what's for dinner?</h5></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
        <div class="cat-container">
            <div class="pic">
                <img class="small-pic" src="https://i.imgur.com/5ihk1O4.jpg" alt="veggie">
            </div>
            <div class="desc">
                <a class="" href="/recipes/search/veggie">
                <h5>vegging out</h5></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
        <div class="cat-container">
            <div class="pic">
                <img class="small-pic" src="https://i.imgur.com/fzXqlZd.jpg" alt="bread">
            </div>
            <div class="desc">
                <a class="" href="/recipes/search/bread">
                <h5>bread winners</h5></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
        <div class="cat-container">
            <div class="pic">
                <img class="small-pic" src="https://i.imgur.com/xR4fLBh.jpg" alt="sweets">
            </div>
            <div class="desc">
                <a class="" href="/recipes/search/sweets">
                <h5>how sweet it is!</h5></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            </div>
        </div>
        <div class="cat-container">
            <div class="pic">
                <img class="small-pic" src="https://i.imgur.com/cRQTkaa.jpg" alt="keto">
            </div>
            <div class="desc">
                <a class="" href="/recipes/search/keto">
                <h5>keto cravings</h5></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
        <!-- <h2>
            <a class="waves-effect waves-light btn" href="/recipes/new">Add a recipe</a>
        </h2> -->
        <!-- <% if ( typeof recipes != 'undefined' ) { %> -->
            <!-- <% for ( let i = 0; i < recipes.length; i++ ) { %> -->
                <!-- <%=recipes[i].name%> - From the kitchen of <%=recipes[i].username%> -->
                <!-- <a class="waves-effect waves-light btn" href="/recipes/' + req.params.id -->
                <!-- <br/> -->
            <!-- <% } %> -->
        <!-- <% } %> -->
    </div>
    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>
