<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
    <div>
        <nav>
            <% include ../partials/navFull.ejs %>
        </nav>
    </div>
    <div class="bg">
        <h4 class="h4-fancy cat-title">recipe categories</h4>
        <div class="index-container">
            <div class="cat-container">
                <div class="pic">
                    <img class="small-pic" src="https://i.imgur.com/jXnmJdi.jpg" alt="dinner">
                </div>
                <div class="desc">
                    <a class="" href="/recipes/search/dinner">
                    <h5>what's for dinner?</h5></a>
                    <p>an assortment of family and budget-friendly favorites - most are quick, easy, and very popular in our family! </p>
                </div>
            </div>
            <div class="cat-container">
                <div class="pic">
                    <img class="small-pic" src="https://i.imgur.com/lkyw7U2.jpg" alt="veggie">
                </div>
                <div class="desc">
                    <a class="" href="/recipes/search/veggie">
                    <h5>vegging out</h5></a>
                    <p>we went vegetarian for a while and although we do eat some chicken and fish, we still LOVE to keep many of our meals meat-free. this category includes dishes from soup to salads and main courses.</p>
                </div>
            </div>
            <div class="cat-container">
                <div class="pic">
                    <img class="small-pic" src="https://i.imgur.com/JdvWFMV.jpg" alt="bread">
                </div>
                <div class="desc">
                    <a class="" href="/recipes/search/bread">
                    <h5>bread winners</h5></a>
                    <p>who doesn't love carbs!!! here you'll find recipes including muffins, pancakes, breads and our favorite sweet rolls.</p>
                </div>
            </div>
            <div class="cat-container">
                <div class="pic">
                    <img class="small-pic" src="https://i.imgur.com/raH0qdy.jpg" alt="sweets">
                </div>
                <div class="desc">
                    <a class="" href="/recipes/search/sweets">
                    <h5>how sweet it is!</h5></a>
                    <p>speaking of "sweet," many of our family traditions revolve around sugar and its many delicious forms. I've included recipes handed down through the generations -- it's part the bounty from our family tree!</p>
                </div>
            </div>
            <div class="cat-container">
                <div class="pic">
                    <img class="small-pic" src="https://i.imgur.com/LLgKGDZ.jpg" alt="keto">
                </div>
                <div class="desc">
                    <a class="" href="/recipes/search/keto">
                    <h5>keto cravings</h5></a>
                    <p>this style of eating is new to us, but many recipes I've tried and/or created quickly are becoming family favorites!</p>
                </div>
            </div>
        </div> <!-- index-container -->
    </div> <!-- bg -->
    <footer class="footer">
        <% include ../partials/footer.ejs %>
    </footer>
</body>
</html>
