<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../../partials/head.ejs %>
    </head>
    <body>
        <div>
            <nav>
                <% include ../../partials/navFull.ejs %>
            </nav>
        </div>
        <main>
            <h4>Matching Recipes</h4>
            <div class="thumb-wrap">
                <% for ( let i = 0; i < recipes.length; i++ ) { %>
                    <!-- listAll route -->
                    <p>
                        <a class="thumbnail hovertext" href="/recipes/<%=recipes[i]._id%>">
                            <img title=<%=recipes[i].name%> src="<%=recipes[i].image%>" alt="<%=recipes[i].name%>">
                        </a>
                    </p>
                <% } %>
            </div>
        </main>
        <footer class="footer">
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
