<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../../partials/head.ejs %>
    </head>
    <body>
        <div>
            <nav>
                <% include ../../partials/navFull.ejs %>
            </nav>
        </div>
        <div class="container">
            <% if ( ! recipes.length ) { %>
                <h4>No Matching Recipes</h4>
            <% } else { %>
                <h4 class="h4-fancy">Matching Recipes</h4>
                <div class="thumb-wrap">
                    <% for ( let i = 0; i < recipes.length; i++ ) { %>
                        <!-- listAll route -->
                        <p>
                            <a class="thumbnail hovertext" href="/recipes/<%=recipes[i]._id%>">
                                <img class="thumbnail" title="<%=recipes[i].name%>" src="<%=recipes[i].image%>" alt="<%=recipes[i].name%>">
                            </a>
                        </p>
                    <% } %>
                </div>
            <% } %>
        </div>
        <footer class="footer">
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
