<!DOCTYPE html>
<html>
    <head>
    <% include ../../partials/head.ejs %>
    </head>
    <body>
        <nav>
            <% include ../../partials/navFull.ejs %>
        </nav>
        <div class="container">
            <h3 class="h4-fancy">add a recipe</h3>
            <div class="row">
            <form class="col s12" action="/recipes" method="POST">
                <div class="row">
                    <div class="input-field s6">
                        <label for="name">recipe name</label>
                        <input type="text" name="name" value="" required>
                    </div>
                    <!-- <input placeholder="Recipe" id="message" type="text" class="validate" name="message" required> -->
                    <div class="input-field s12">
                        <label for="directions">recipe directions</label>
                        <textarea id="directions" name="directions" class="materialize-textarea"></textarea>
                    </div>
                    <!-- currentUser.username needs to be put in db with message -->
                    <!-- Have to use "hidden" type to include it with the form submission -->
                    <div class="input-field s6">
                        <label for="image">image path</label>
                        <input type="text" name="image" value="">
                    </div>
                    <div class="input-field col s6">
                        <select name="tag" class="select select-new">
                          <option value="" disabled selected>select a tag (category)</option>
                          <option value="dinner">dinner</option>
                          <option value="veggie">veggie</option>
                          <option value="bread">bread</option>
                          <option value="sweets">sweets</option>
                          <option value="keto">keto</option>
                        </select>
                        <% if (errorMsg) { %>
                            <span class="error col s12"><%=errorMsg%></span>
                        <% } %>
                    </div>
                    <input type="hidden" value=<%=currentUser.username%> name="submitter">
                    <br/>
                    <button class="btn waves-effect waves-light btn-font show-btn" type="submit" name="action">submit
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light btn-font show-btn" onclick="location.href='/app/'" type="button">cancel
                        <i class="material-icons">cancel</i>
                    </button>
                </div>
            </form>
        </div>
        <footer class="footer">
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
