<!DOCTYPE html>
<html>
    <head>
    <% include ../../partials/head.ejs %>
    </head>
    <body>
        <nav>
            <% include ../../partials/navFull.ejs %>
        </nav>
        <div class="container">
            <h4>Add Recipe</h4>
            <div class="row">
            <form class="col s12" action="/recipes" method="POST">
                <div class="row">
                    <div class="input-field s6">
                        <label for="name">Recipe Name</label>
                        <input type="text" name="name" value="" required>
                    </div>
                    <!-- <input placeholder="Recipe" id="message" type="text" class="validate" name="message" required> -->
                    <div class="input-field s12">
                        <label for="directions">Recipe Directions</label>
                        <textarea id="directions" name="directions" class="materialize-textarea"></textarea>
                    </div>
                    <!-- currentUser.username needs to be put in db with message -->
                    <!-- Have to use "hidden" type to include it with the form submission -->
                    <div class="input-field s6">
                        <label for="image">Image Path</label>
                        <input type="text" name="image" value="">
                    </div>
                    <div class="input-field col s3">
                        <select name="tag" class="select select-new">
                          <option value="" disabled selected>Select a tag</option>
                          <option value="dinner">dinner</option>
                          <option value="veggie">veggie</option>
                          <option value="bread">bread</option>
                          <option value="sweets">sweets</option>
                          <option value="keto">keto</option>
                        </select>
                    </div>
                    <input type="hidden" value=<%=currentUser.username%> name="submitter">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light" onclick="location.href='/app/'" type="button">CANCEL
                        <i class="material-icons">cancel</i>
                    </button>
                </div>
            </form>
        </div>
        <footer class="footer">
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
